*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0px;
}

.cover-change-pass .input-pass{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.cover-change-pass .input-pass .pass {
        width: 90%;
        height: 40px;
        padding: 0px 10px;
        margin: 5px auto;
        border-radius: 5px;
        outline: none;
        border: 1px solid #ccc;
        cursor: pointer;
}
.cover-change-pass .input-pass .pass:focus{
    border: 1px solid #2181e7;
}
.cover-change-pass .input-pass .pass::placeholder{
    color: #ccc;
}
.cover-change-pass .input-pass .pass .new{
    margin-top: 40px;
}
.cover-change-pass .btn-cancel{
    width: 68px;
    height: 36px;
    background-color: #edf0f5;
    border-radius: 5px;
    border: 1px none;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}
.cover-change-pass .btn-cancel:hover{
    background-color: #DEE4ED;
}
.cover-change-pass .btn-confirm{
    background-color: #2181e7;
    width: 100px;
    height: 36px;
    border-radius: 5px;
    border: 1px none;
    margin: auto 0px;
    margin-right: 15px;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    line-height: 36px;
}
.cover-change-pass .btn-confirm:hover{
    background-color: #0863c5;
}
