    .cover-forgot-pass .header {
        height: 60px;
        float: top;
        background-color: #ffffff;
        display: flex;
    }
    
    .cover-forgot-pass .header-logo {
        text-decoration: none;
        float: left;
        margin: auto 0px;
        margin-left: 20px;
    }
    
    .cover-forgot-pass .body {
        width: 100%;
        height: 400px;
        padding: 50px 0px;
        background-color: #edf0f5;
        display: flex;
    }
    
    .cover-forgot-pass .form-Forgot_password {
        width: 500px;
        height: 100%;
        background-color: #ffffff;
        margin: auto;
        border-radius: 10px;
        border-style: outset;
        margin-top: 24px;
    }
    
    .cover-forgot-pass .title-forgot {
        width: 95%;
        height: 60px;
        display: flex;
        margin: 0 auto;
        border-bottom: 1px solid #ccc;
    }
    
    .cover-forgot-pass .input-forgot {
        height: 170px;
        display: flex;
        flex-direction: column;
    }
    
    .cover-forgot-pass .input-tilte {
        width: 95%;
        height: 50%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .cover-forgot-pass .input-phone {
        width: 95%;
        height: 50%;
        margin: auto;
        display: block;
        justify-content: center;
        align-items: center;
    }
    
    .cover-forgot-pass .phone-email {
        width: 100%;
        height: 50%;
        border-radius: 5px;
        outline: none;
        border: none;
        border: 1px solid #ccc;
        padding: 0 10px;
        margin: 0 0 10px 0;
    }
    
    .cover-forgot-pass .btn-forgot {
        height: 70px;
        display: flex;
        justify-content: flex-end;
    }
    
    .cover-forgot-pass .btn-cancel {
        width: 68px;
        height: 36px;
        margin: auto 0px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .cover-forgot-pass .link-forgot {
        text-decoration: none;
        text-align: center;
    }
    
    .cover-forgot-pass .btn-cancel-x {
        width: 68px;
        height: 36px;
        background-color: #edf0f5;
        border-radius: 5px;
        margin: auto;
        border: 1px none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .cover-forgot-pass .btn-cancel-x:hover {
        background-color: #cfd2d6;
        cursor: pointer;
    }
    
    .cover-forgot-pass .btn-seach {
        width: 108px;
        height: 36px;
        margin: auto 0px;
        margin-right: 14px;
    }
    
    .cover-forgot-pass .seach {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: #2181e7;
        border-radius: 5px;
        border: 1px none;
    }
    
    .cover-forgot-pass .seach:hover {
        background-color: #0863c5;
        cursor: pointer;
    }
    
    .cover-forgot-pass .footer {
        height: 150px;
        float: bottom;
        background-color: #ffffff;
        text-align: center;
    }
    
    .cover-forgot-pass .footer-name {
        padding-top: 70px;
    }